<%- include('./base/header.ejs') %>

<div class="login-container">
    <h2>User Sign Up Succesfully</h2>
    <div class="signup-link">
        <a href="/login/nav">Please login with your details</a>
    </div>
 </div>

<%- include('./base/footer.ejs') %>