<%- include('./base/header.ejs') %>
<div class="login-container">
    <h2>Sign-Up</h2>
    <form action="/add/user" method="post">
        <div class="inputBox">
            <input type="text" required name="firstName" placeholder=" ">
            <span>First Name</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="text" required name="lastName" placeholder=" ">
            <span>Last Name</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="email" required name="emailId" placeholder=" ">
            <span>Email Id</span>
            <i></i>
        </div>
        <div class="inputBox">
            <span></span>
            <select name="country">
                <option style="color: #00bfff;" value="">Choose your Country</option>
                <option style="color: #00bfff;" value="">India</option>
                <option  style="color: #00bfff;"value="">America</option>
                <option  style="color: #00bfff;"value="">USA</option>
                <option  style="color: #00bfff;"value="">Sri Lanka</option>
            </select>
        </div>
        <div class="inputBox">
            <span></span>
            <select name="countryCode">
                <option style="color: #00bfff;" value="">Choose your Country Code</option>
                <option  style="color: #00bfff;" value="">91+</option>
                <option style="color: #00bfff;" value="">92+</option>
                <option style="color: #00bfff;" value="">98+</option>
            </select>
        </div>
        <div class="inputBox">
            <input type="text" required name="mobileNo" placeholder=" ">
            <span>Mobile No.</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required name="password" placeholder=" ">
            <span>Password</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" required name="confirmPassword" placeholder=" ">
            <span>Confirm Password</span>
            <i></i>
        </div>
        <button type="submit">Submit</button>
        
    </form>
</div>
<%- include('./base/footer.ejs') %>