<footer style="position: fixed; bottom: 0; margin-bottom: 25px;">
    <p style="color:white;">&copy; 2024 Made by Mayank . All rights reserved.</p>
</footer>
<script>
    function myFunction() {
  var x = document.getElementById("myInput");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>
</body>
</html>
